#ultrasound-bg {
    background-color: #000000;
    background-position: center;
}

#heartbeat{
  background-image: url('img/heartbeat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#header-anim {
  background-image: url('img/wind_trees.gif');
}

#header-static{
  background-image: url('img/vaders_little_princess.jpg')
}

#registry {
  /*background-image: url('img/3-5-years.jpg');*/
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: auto;
}


.us-img {
  padding-bottom: 15px;
}

.img-caption {
  text-align: center;
}

.hb-intro {
  text-align: center;
  color: #fed136;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.audioCenter{
  margin: 10px auto; width: 320px;
}

.sub-text{
  text-align: center;
  color: #fed136;
  font-size: 16px;
}

.text-highlight {
  color: #fed136;
}
